.home {
	height:80vh ;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:var(--SecondaryColor);
	padding:0px 22px;

}

.home-card {
	height: 80vh;
	width: 100%;
	background-color: var(--PrimaryColor);
	border-radius: 8px;
}
