.user-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
}
.home-heading {
	position: absolute;
	top: 26%;
	color: var(--SecondaryColor);
	font-size: 26px;
	/* font-weight: 100; */
	text-align: center;
}
.user-details {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	top: 45%;
	color: var(--SecondaryColor);
}
.form-label {
	font-size: 26px;
}
.form-input {
	padding: 5px;
	border: var(--red) solid;
	border-radius: 4px;
	color: var(--gray);
	width: 100%;
}
.search-button {
	position: absolute;
	top: 58%;
}
.user-button {
	padding: 2px 12px 2px 12px;
	background-color: var(--red);
	color: var(--SecondaryColor);
	border-radius: 10px;
	font-size: large;
	cursor: pointer;
}
.user-button-span {
	margin-right: 4px;
}

.error {
	margin-top: 10px;
	color: var(--red);
	font-weight: "bold";
	/* position: absolute; */
}

.form-input{
	color: var(--black);
}
@media (min-width: 650px) {
	.home-heading {
		font-size: 32px;
	}
}
