.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

}
.home-heading {
    position: absolute;
    top: 24%;
    color: #FFFBFB;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
}
.user-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 45%;
    color: #FFFBFb;
}
.form-label {
    font-size: 27px;
}
.form-input {
    padding: 6px;
    border: #ED4343 solid;
    border-radius: 5px;
}
.search-button {
    position: absolute;
    top: 61%;
}
.user-button {
    padding: 2px 12px 2px 12px;
    background-color: #ED4343;
    color: #FFFBFB;
    border-radius: 11px;
    font-size: large;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive;

}
.user-button-span {
    margin-right: 11px;
}

.error {
    margin-top: 12px;
     color: #ED4343;;
      font-weight: "bold";
      position: absolute;
}










